Source: nfhook
Section: unknown
Priority: exta
Maintainer: Olivier BONHOMME <Olivier BONHOMME <obonhomme@nerim.net>>
Build-Depends: debhelper (>= 5), bzip2
Standards-Version: 3.7.2

Package: nfhook-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description> <insert long description, indented with spaces>

Package: nfhook-source
Architecture: all
Depends: module-assistant, debhelper (>= 5), make, bzip2
Description: Source for the nfhook driver.
 This package provides the source code for the nfhook kernel modules.
 The nfhook package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
